body {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Arial", "Helvetica", "sans-serif";
  color: white;
  background-color: black;
}

h1 {
  padding: 10px;
  background-color: blueviolet;
  display: inline-block;
}

h2 {
  border-bottom: 2px solid white;
}

figure {
  margin: 50px;
  padding: 30px;
  text-align: center;
  background-color: blueviolet;
  border: 10px solid black;
}

img {
  width: 600px;
}

.zoio {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

button {
  color: blueviolet;
  font-size: large;
  float: inline-start;
}

figcaption {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.seta {
  display: inline;
  float: left;
  width: 200px;
  position: relative;
  margin-left: 0px;
}

textarea {
  font-size: small;
  position: absolute;
  left: 60%;
}

th {
  float: left;
  float: inline-start;
}
